<h1>Des chiffres et des lettres !</h1>
<% now = Time.now %>
<% alpha = ("a".."z").to_a %>
<% arr = [] %>
<% 9.times do %>
  <% letter = alpha.sample.upcase %>
  <span class="letter"><%= letter %></span>
  <% arr << letter %>
<% end %>

<div class="marged">
  <form action="/score" class="form-inline">
    <label for="game">Reorganize it as possible !</label>
    <input type="text" id="game" name="query" class="form-control" placeholder="Your suggestion">
    <input type="hidden" name="array" value="<%= arr.join(" ").downcase %>">
    <input type="hidden" name="time" value="<%= now %>">
    <input type="submit" value="Try it!" class="btn btn-danger">
  </form>
</div>

<script>
  $(document).ready(function() {
    $(".letter").hide().fadeIn('slow');
  });
</script>
